version: '3.8'
services:
  webapp:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    environment:
      #- environment=production
      - PORT=3000
    env_file:
      - .env
<account_id>
    restart: unless-stopped